@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: rgb(211, 210, 210);
}

.upload-button > .ant-upload{
    width: 250px !important;
    height: 250px !important;
    border-radius: 10px !important;
    background-color: white !important;
}

.ant-btn-primary {
    color: #fff;
    border-color: #1890ff;
    background: #1890ff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 0 rgba(0,0,0,.045);
}

/* Component EditContainer */
.edit-container{
    width: 100%;
    height: 100%;
}

.left-size-container{
    height: 100%;
}

.edit-main-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.edit-main-header{
    padding: 0 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 65px;
    border-bottom: 1px solid #ebedf5;
    background: #fff;
}
.edit-main-header-left-size{
    display: flex;
    align-items: center;
    /* justify-content: flex-start; */
}
.edit-main-header-right-size{
    text-align: right;;
    /* justify-items: flex-end; */
}

.edit-image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 100%;
    width: 100%;
    flex: 1
}

.image-holder{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 500px;
    background: #fff;
    padding: 10px;
    box-shadow: 0px 1px 4px rgb(0 0 0 / 15%);
}

/* Component LeftSizeBar */
.edit-size-container{
    background: #fff;
    border-right: 1px solid #ebedf5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 600px;
    width: 100%;
}

.edit-size-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 65px;
    border-bottom: 1px solid #ebedf5;
    padding: 20px;
}

.edit-size-content{
    padding: 20px;
    flex: 1;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.edit-card-container .card-head{
    font-size: 11px;
    font-weight: 600;
    color: #8f95b3
}

.edit-card-container .card-content .palette-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.edit-card-container .card-content .palette-block .palette-block-title{
    color: #596080;
}

/* Components ColorPill */
.color-pill-container{
    width: 22px;
    height: 22px;
    border-radius: 50px;
    border: 2px solid rgb(0 0 0 / 10%)
}

.color-pill-popover .ant-popover-placement-bottom{
    padding-top: 2px;
}

.color-pill-popover .ant-popover-inner{
    border-radius: 5px;
    box-shadow: none;
    background: none;
}

.color-pill-popover .ant-popover-inner-content{
    padding: 0;
}

/* CusTomColorPicker Components */
.color-picker-container{
    background: #fff;
    padding: 10px;
    border: 1px solid #f4f3df;
    box-shadow: 0px 10px 20px rgb(0 0 0 / 10%);
    border-radius: 5px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.saturation-picker{
    width: 100%;
    height: 100px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.circle-picker{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hue-picker{
    width: 100%;
    height: 12px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.text-picker{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-picker-input-group{
    display: flex;
}

.color-preview{
    height: 32px;
    width: 32px;
    border-radius: 5px;
}

.saturation-picker-pointer{
    width: 12px;
    height: 12px;
    position: relative;
    left: -6px;
    top: -6px;
    border-radius: 50px;
    background: rgba(255,255,255,0.1);
    border: 2px solid white;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.25);
    box-sizing: border-box;
}

.other-picker-pointer{
    width: 12px;
    height: 12px;
    position: relative;
    left: -6px;
    top: 0px;
    border-radius: 50px;
    background: rgba(255,255,255,0.1);
    border: 2px solid white;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.25);
    box-sizing: border-box;
}

/* ColorGroup Components */
.color-group .color{
    width: 20px;
    height: 20px;
}

.color-group .first{
    border-radius: 50px 0 0 50px;
}

.color-group .last{
    border-radius: 0 50px 50px 0;
}